<section class="first">
  <div class="container">
    <h2 class="first__title">Наши направления</h2>

    <ul class="first__list">
      <li class="first__list-item">
        <svg class="first__list-item-img">
          <use href="../img/sprite.svg#icon-fin"></use>
        </svg>
        <div class="first__list-item-box">
          <h4 class="first__list-item-title">Финансовая
            грамотность</h4>
          <p class="first__list-item-text">Идёт бонусом с любым пакетом обучения. Включает основную информацию об
            управлении финансами и структуре мировых рынков</p>
        </div>
      </li>
      <li class="first__list-item">
        <svg class="first__list-item-img">
          <use href="../img/sprite.svg#icon-fond"></use>
        </svg>
        <div class="first__list-item-box">
          <h4 class="first__list-item-title">Фондовый рынок/CFD</h4>
          <p class="first__list-item-text">Обучаем техническому, фундаментальному, а также новостному анализу акций,
            который применим как к Европейскому и
            Американскому, так и к российскому рынку</p>
        </div>
      </li>
      <li class="first__list-item">
        <svg class="first__list-item-img">
          <use href="../img/sprite.svg#icon-valut"></use>
        </svg>
        <div class="first__list-item-box">
          <h4 class="first__list-item-title">Валютный рынок</h4>
          <p class="first__list-item-text">В этом направлении вы узнаете о валютных парах и том, что влияет на их
            стоимость
            и корреляцию по отношению друг к другу
            (включает технический и новостной анализ)</p>
        </div>
      </li>
      <li class="first__list-item">
        <svg class="first__list-item-img">
          <use href="../img/sprite.svg#icon-cripto"></use>
        </svg>
        <div class="first__list-item-box">
          <h4 class="first__list-item-title">Криптовалюта</h4>
          <p class="first__list-item-text">Полный курс о том, что такое криптовалюта, её видах и событиях, что влияют на
            ее
            стоимость. Основной движущей силой в
            криптовалюте являются громкие события</p>
        </div>
      </li>
    </ul>
  </div>
</section>