<section class="fourth">
    <div class="container">
        <h2 class="fourth__title">Ответы на самые частые вопросы</h2>

        <ul class="fourth__list">

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">1. Что мне даст финансовая грамотность?</p>
                <p class="fourth__list-item-ans">Это набор <b>базовых знаний</b>, необходимый для понимания рынка в
                    целом. Без
                    них <b>вы не сможете понять</b> природу некоторых
                    процессов, которые постоянно происходят на рынке.</p>
            </li>

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">2. Вы предоставляете только демо-счета или также настоящие?</p>
                <p class="fourth__list-item-ans">Мы предоставляем <b>только демо-счета</b>, так как не сотрудничаем
                    с брокерами. Однако, если потребуется <b>мы можем рекомендовать вам компанию</b>
                    в индивидуальном порядке.</p>
            </li>

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">3. Вы гарантируете, что
                    я начну зарабатывать после вашего курса?</p>
                <p class="fourth__list-item-ans"><b>НЕТ</b>. Наша задача научить вас, а то примените ли вы эти знания
                    зависит только от вас.</p>
            </li>

            <li class="fourth__list-item">
                <p class="fourth__list-item-quest">4. Сколько я смогу зарабатывать после курса?</p>
                <p class="fourth__list-item-ans">Это зависит от <b>вашего капитала</b>, рисков и выбранной стратегии.
                </p>
            </li>

        </ul>

        <button type="button" class="fourth__btn scroll-btn">ОСТАВИТЬ ЗАЯВКУ</button>
    </div>
</section>