<section class="second">
  <div class="container">
    <h2 class="second__title">Как проходит обучение</h2>

    <ul class="second__list">
      <li class="second__list-item">
        <img src="../img/second/first-item.png" alt="" class="second__list-item-box">
        <img src="../img/second/first-item-desk.png" alt="" class="second__list-item-box-desk">
        <svg class="second__list-item-img desk-marg">
          <use href="../img/sprite.svg#icon-consult"></use>
        </svg>
      </li>

      <li class="second__list-item">
        <svg class="second__list-item-img">
          <use href="../img/sprite.svg#icon-theory"></use>
        </svg>
        <img src="../img/second/second-item.png" alt="" class="second__list-item-box">
        <img src="../img/second/second-item-desk.png" alt="" class="second__list-item-box-desk">
      </li>

      <li class="second__list-item">
        <img src="../img/second/third-item.png" alt="" class="second__list-item-box">
        <img src="../img/second/third-item-desk.png" alt="" class="second__list-item-box-desk">
        <svg class="second__list-item-img">
          <use href="../img/sprite.svg#icon-practice"></use>
        </svg>
      </li>

      <li class="second__list-item">
        <svg class="second__list-item-img">
          <use href="../img/sprite.svg#icon-done"></use>
        </svg>
        <img src="../img/second/fourth-item.png" alt="" class="second__list-item-box">
        <img src="../img/second/fourth-item-desk.png" alt="" class="second__list-item-box-desk">
      </li>
    </ul>

    <div class="second__notice">На протяжении 3-х месяцев после завершения курса, вы можете обратиться к нам
      за бесплатной консультацией и разбором ваших сделок</div>
  </div>
</section>