<section class="third">
    <div class="container">
        <h2 class="third__title">Выберите <br class="br"><span class="third__title--part">свой пакет</span><br> обучения
        </h2>

        <ul class="third__list">

            <li class="third__list-item">
                <h4 class="third__list-item-title">Базовый</h4>
                <p class="third__list-item-price">$198 / 1 месяц</p>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">База с 5 блоками по 10 уроков о финансовой грамотности
                        (оффлайн)</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">Заключительный экзамен
                        по каждому блоку</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">5 обращений к куратору</p>
                </div>
                <button type="button" class="third__list-item-btn scroll-btn">НАЧАТЬ</button>
            </li>

            <li class="third__list-item">
                <h4 class="third__list-item-title">Стандарт</h4>
                <p class="third__list-item-price">$499 / 3 месяца</p>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">База с 5 блоками по 10 уроков о финансовой грамотности
                        (оффлайн)</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">Заключительный экзамен
                        по каждому блоку</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">Доступ к базе по выбранному финансовому направлению.</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">Заключительный экзамен после прохождения каждого блока видео
                        по выбранному направлению</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">2 групповых занятие по 1 выбранному направлению в неделю</p>
                </div>
                <button type="button" class="third__list-item-btn scroll-btn">НАЧАТЬ</button>
            </li>

            <li class="third__list-item">
                <h4 class="third__list-item-title">Премиум</h4>
                <p class="third__list-item-price">$1,797 / в год</p>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">База с 5 блоками по 10 уроков о финансовой грамотности
                        (оффлайн)</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">Заключительный экзамен
                        по каждому блоку</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">Доступ к базе по выбранному финансовому направлению.</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">Заключительный экзамен после прохождения каждого блока видео
                        по выбранному направлению</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">Доступ к групповым занятиям по всем существующим
                        направлениям.</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">2 индивидуальных занятия в неделю по любому из существующих
                        направлений.</p>
                </div>
                <div class="third__list-item-check">
                    <svg class="third__list-item-check-img">
                        <use href="../img/sprite.svg#icon-checkmark"></use>
                    </svg>
                    <p class="third__list-item-check-text">Безлимитные обращения к куратору</p>
                </div>
                <button type="button" class="third__list-item-btn scroll-btn">НАЧАТЬ</button>
            </li>

        </ul>
    </div>
</section>